{% extends "layout.html" %}

{% block title %}
    index
{% endblock %}

{% block main %}
<table>
    <thead>
        <tr>
            <th>name</th> <th>shares</th> <th>price</th> <th>total</th> <th>cash</th> <th>grand total</th>
        </tr>
    </thead>

    <tbody>

            {% for data in profile_1 %}
            <tr>
                <td>
                    {{data.name}}
                </td>
                <td>
                    {{data.shares}}
                </td>
                <td>
                    {{usd(data.price)}}
                </td>
                <td>
                    {{usd(data.shares * data.price)}}
                </td>
                <td>
                    {{usd(cash)}}

                </td>
                <td>
                    {{usd(cash - (data.shares*data.price))}}
                </td>
            </tr>
            {% endfor %}

    </tbody>
</table>

{% endblock %}